# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env files
.env*

# Fotos (não versionar no git)
fotos_apartamentos/
fotos_apartamentos_web/

# Arquivos de pacote/transferência
fotos_apartamentos_web.zip
